@model BDProjeto.Dominio.Usuario

@{
    ViewBag.Title = "Excluir Usuário";
}

<h2>Excluir Usuário</h2>

<h4>Deseja excluir este usuário?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir Usuário" class="btn btn-danger" /> |
            @Html.ActionLink("Listar Usuários", "Listar", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
