@model IEnumerable<BDProjeto.Dominio.Usuario>

@{
    ViewBag.Title = "Listar Usuários";
}

<h2>Listar Usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Cadastrar", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.ActionLink("Alterar Usuário", "Alterar", new { id=item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalhes Usuário", "Detalhe", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Excluir Usuário", "Excluir", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
